/* Estilos para o header */
header {
  background-color: #333;
  color: white;
  padding: 20px;
}

header h1 {
  margin: 0;
  font-size: 2em;
}

header nav {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

header nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

header nav li {
  margin-right: 20px;
}

header nav li:last-child {
  margin-right: 0;
}

header nav a {
  color: white;
  text-decoration: none;
}

header nav a:hover {
  text-decoration: underline;
}

/* Estilos para a seção de produtos */
main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
}

.produto {
  margin: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 300px;
}

.produto h2 {
  margin-top: 0;
  font-size: 1.2em;
}

.produto img {
  max-width: 100%;
  height: auto;
  margin-top: 10px;
}

.pro
